
<div>   
  
<%= form_for @user, url: { action: :update } do |f| %>   
    <p>     
     <div>   
            <label>Email</label>   
            <%= f.text_field :email %>   
     </div>   
  
     <div>   
            <label>Subscription Status</label>   
            <%= f.text_field :live %>   
     </div>     
      </p>   
   <div>   
      <%= link_to "Back", { controller: "users", action: "index" } %>   
      <%= f.submit "Update User" %>   
    </div>   
<% end %>   
</div> 